      navbar{
    margin-top: 10px;    
    position: fixed;
    width: 100%; 
    background-color: blanchedalmond;
    opacity: 85%;
    z-index: 9999999;
    transition: top 0.5s;
    top: 0px;
}


.navbar-brand img{
position: absolute;
left: 20px;
}
.nav-item:hover{
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}


.content{
    background-image: url(bg2.jpg);
    background-size: cover;
    width: 100%;   height: 100vh;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0% 75%, 0 0);
    opacity: 1;
    
}
.content1{
    text-align: center;
    position: fixed;
    top: 30%;
    right: 7%;
    opacity: 1;
    

}



#fix-search{
    position:fixed;
    display: inline-flex;

}


.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    
    top: 0;
    left: 40px;
    background-color: #110;
    overflow-x: hidden;
    padding-top: 16px;
    margin-right: 20px;
    padding-top: 70px;
    opacity: 0;
  
  }
  
  .sidebar a {
    padding: 20px 0px 20px 20px;
    text-decoration: none;
    align-content: center;
    font-size: 22px;
    color: #818181;
    display: block;
  }

  a.highlight{
    color: #ffffff;
    background-color: rgb(59, 73, 73);
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
    background-color: rgb(59, 73, 73);
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 20px 0 60px;
  }



  

.flex img{
    padding: 30px 0px 30px 130px;
   height: 160px;
    width: 90%;
   

    
}

.card-deck{
    margin:50px 100px;
}

.card-img-top{
  height: 250px;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 5px 10px;
  font-size: 14x;
  cursor: pointer;
  margin-left: 40px;
  border-radius: 7px;

}

/* Green */
.success {
  border-color: #4CAF50;
  color: green;
}
.btn:hover{
  background-color: #4CAF50;
  color: #fff;
}





/* ...................................login pannel......................................................... */


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */ 
  height:110%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
  opacity: 0.97;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  animation: animatezoom 0.6s
}
 
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

.cancelbtn {
     width: 100%;
  }

/* style the container */
.container {
  position: fixed;
  border-radius: 5px;
  left: 215px;
  background-color: #f2f2f2; 
  padding: 20px 0 20px 0;
  z-index: 2  ;
  opacity: .97;
} 

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}


input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

.right{
  top:-20px;

/* style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
  color: #fff;
}

/* Two-column layout */
.col {
  float: left;
  width: 30%;
  margin: auto;
  padding: 0px 70px;
  margin-top: 10px;
}
/* .row{
  padding: 70px 40px 30px;
} */
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  
  .card:hover {
    transform: translateY(-10px) translateX(3px);
  
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.card{
  transition: 0.4s ease;
}


<!-- ..................................................categories............................................ -->


.cat{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 0px;
  opacity: 0.97;
}
.cat p{
  color: #000;
}
#id02{

  display: none;

}


<!-- ...................................................footer............................................ -->


.full {
  width: 100%;    
}
.gap {
height: 30px;
width: 100%;
clear: both;
display: block;
}
.footer {
background: #002147;
height: auto;
padding-bottom: 30px;
position: relative;
width: 100%;
border-bottom: 1px solid #CCCCCC;
border-top: 1px solid #DDDDDD;
margin-top: 500px;
}
.footer p {
margin: 0;
}
.footer img {
max-width: 100%;
}
.footer h3 {
color: white;
font-size: 18px;
font-weight: 600;
line-height: 27px;
padding: 40px 0 0px;
text-transform: uppercase;
margin-bottom: 15px;
}

.footer h4 {
color: white;
font-size: 2em;
font-weight: 600;
line-height: 38px;
padding: 40px 0 10px;
font-family: cursive;
font-weight: lighter
}

.footer ul {
font-size: 13px;
list-style-type: none;
margin-left: 0;
padding-left: 0;
margin-top: 0px;
color: #7F8C8D;
padding: 0 0 8px 0;
}

.email{
border-bottom: 3px solid #fff;
}
.footer ul li a {
padding: 0 0 12px 0;
display: block;
}
.footer a {
color: white;
font-weight: lighter;
}

.footer p {
color: white;
font-weight: lighter;
font-size: 
}

.footer a:hover {
text-decoration:none;
font-weight: bold;
}
.supportLi h4 {
font-size: 20px;
font-weight: lighter;
line-height: normal;
margin-bottom: 0 !important;
padding-bottom: 0;
}

.bg-gray {
background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
box-shadow: 0 1px 0 #B4B3B3;
}

}
.footer a {
color: #78828D
}

.footer-bottom {
margin-top: 2em;
border-top: 1px solid #DDDDDD;
padding-top: 20px;
padding-bottom: 10px;
}
.footer-bottom p.pull-left {
padding-top: 6px;
font-size: 0.75em
}

#footer .foot{
  background-color: transparent;
  padding: 0 100px 0 200px;
}
