#navbar{
    margin-top: 10px;    
    position: fixed;
    width: 100%; 
    background-color: blanchedalmond;
    opacity: 85%;
    z-index: 9999999;
    transition: top 0.5s;
    top: 0px;
}


.navbar-brand img{
position: absolute;
left: 20px;
}
.nav-item:hover{
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}


.content{
    background-image: url(bg2.jpg);
    background-size: cover;
    width: 100%;   height: 100vh;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0% 75%, 0 0);
    opacity: 1;
    
}
.content1{
    text-align: center;
    position: fixed;
    top: 30%;
    right: 7%;
    opacity: 1;
    

}


#fix-search{
    position:fixed;
    display: inline-flex;

}


.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    
    top: 0;
    left: 40px;
    background-color: #110;
    overflow-x: hidden;
    padding-top: 16px;
    margin-right: 20px;
    padding-top: 70px;
    opacity: 0;
  
  }
  
  .sidebar a {
    padding: 20px 0px 20px 20px;
    text-decoration: none;
    align-content: center;
    font-size: 22px;
    color: #818181;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 20px 0 60px;
  }



  

.flex img{
    padding: 30px 0px 30px 130px;
   height: 160px;
    width: 90%;
   

    
}

.card:hover{
   
}
.card-deck{
    margin:50px 100px;
}

.card-img-top{
  height: 250px;
}