#navbar{
    margin-top: 10px;
    
    position: fixed;
    width: 100%; 
    background-color: blanchedalmond;
    opacity: 85%;
    z-index: 9999999;
    transition: top 0.5s;
    top: 0px;
}
.nav-item{
    
}

.navbar-brand img{
position: absolute;
left: 20px;
}
.nav-item:hover{
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}


.content{
    background-image: url(bg.png);
    background-size: cover;
    width: 100%;   height: 100vh;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    
}
.content1{
    text-align: center;
    position: fixed;
    top: 30%;
    right: 15%;
    opacity: 1;
    

}


#fix-search{
    position:fixed;
    display: inline-flex;

}


.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0 px;
    left: 40px;
    background-color: #110;
    overflow-x: hidden;
    padding-top: 16px;
    margin-right: 20px;
    display: none;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 20px 0 60px;
  }



  

.flex img{
    padding: 30px;
   height: 160px;
    width: 100%;
   

    
}

.card{
  
}
.card-deck{
    margin:50px 100px;
}

.card-img-top{
  height: 250px;
}