.nav{
    margin-top: 10px;
    
    position: fixed;
    width: 100%; 
    background-color: blanchedalmond;
    opacity: 85%;
    z-index: 9999999;
}
.nav-item{
    
}

.navbar-brand img{
position: absolute;
left: 20px;
}
.nav-item:hover{
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}


.content{
    background-image: url(bg.png);
    height: 99vh;
    width:100vw;
    background-position: center;
    padding-top: 50px;
    /* filter: blur(0px); */
    background-repeat: no-repeat;
    background-position-x: center;

   
    /* position: relative;
    top: 10px; */
    
}
.content1{
    text-align: center;
    position: absolute;
    top: 30%;
    right: 15%;

}